body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll; /* Show vertical scrollbar */
  overflow-x: scroll; /* Show horizontal scrollbar */
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

h1.site-name {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5rem;
  text-align: center;
  margin: 2rem auto;
}

h1 > a {
  text-decoration: none;
  color: black;
}

/* * * * * * * * * * * * * * * * *
 * Site Header
 * * * * * * * * * * * * * * * * */
header.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

/* * * * * * * * * * * * * * * * *
 * Site Social Media
 * * * * * * * * * * * * * * * * */
#site-social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1000px;
  margin: 1rem auto;
}

#site-social-media a {
  color: black;
}

#site-social-media i:hover {
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/* * * * * * * * * * * * * * * * *
 * Site Navigation
 * * * * * * * * * * * * * * * * */
nav#navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 2rem;
  border-top: 3px solid black;
}

nav#navigation .nav-item > a {
  display: block;
  color: black;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

nav#navigation .nav-item > a:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

nav#navigation .nav-item.active > a {
  color: white;
  background-color: black;
  cursor: default;
}

/* Hide mobile navigation on default */
.mobile-navigation {
  display: none;
  visibility: hidden;
}

/* * * * * * * * * * * * * * * * *
 * Layout for site
 * * * * * * * * * * * * * * * * */
.two-col-layout {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
}

.content {
  flex: 0 70%;
}

.content > div {
  margin: 2rem;
  border-top: 3px solid black;
}

.sidebar {
  flex: 0 30%;
  max-width: 100%;
}

/* * * * * * * * * * * * * * * * *
 * Site Footer
 * * * * * * * * * * * * * * * * */
footer.site-footer {
  max-width: 1500px;
  margin: 0.5rem auto;
  padding: 1rem;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

footer.site-footer .site-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
footer.site-footer .site-info > div {
  margin-right: 1rem;
  margin-left: 1rem;
}

footer.site-footer .site-info h1 {
  margin: 0;
  padding: 0 0 1rem 0;
}

footer.site-footer .site-info h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

footer.site-footer .footer-link {
  border-bottom: 4px solid transparent;
  padding-bottom: 0.5rem;
}

footer.site-footer .footer-link a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bolder;
}

footer.site-footer .footer-link a:hover {
  border-bottom: 4px solid black;
}

footer.site-footer .bottom a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 4px solid transparent;
}

footer.site-footer .bottom a:hover {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 4px solid black;
}

/* * * * * * * * * * * * * * * * *
 * Other site-common components
 * * * * * * * * * * * * * * * * */
/* <hr>s */
hr {
  margin: 1rem auto;
  border: 1px solid black;
}

/* Site button */
.site-button {
  margin: 1em auto 0;
}

.site-button.hidden {
  display: none;
  visibility: hidden;
}

.site-button.disabled > p {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.site-button.disabled > p:hover {
  cursor: not-allowed;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

.site-button a, div.site-button > p {
  font-size: 1.2em;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: black;
  background-color: white;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}

.site-button a:hover, div.site-button > p:hover {
  cursor: pointer;
  background: black;
  color: white;
}

div.site-button.active > p {
  cursor: default;
  background: black;
  color: white;
}

/* Site banner ad */
.custom-site-banner {
  margin-bottom: 2rem;
}

.category-page .custom-site-banner {
  margin: 2rem 0;
}

.custom-site-banner img {
  max-width: 100%;
}

/* Loading spin wheel */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 2rem;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * Responsive Layout
 * * * * * * * * * * * * * * * * * * * * * * * * * */
@media screen and (max-width: 1200px) {
  .two-col-layout {
    flex-direction: column;
  }
  .two-col-layout .content > div {
    border-bottom: 3px solid black;
  }
  .site-navigation {
    display: none;
    visibility: hidden;
  }
  .mobile-menu h1 {
    display: none;
    visibility: hidden;
  }
  header.site-header {
    border-bottom: none;
  }
  header.site-header #site-social-media {
    margin: 0 auto;
  }
  .mobile-navigation {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 100;
    text-align: left;
    top: 3.25rem;
    left: 2rem;
    width: 400px;
  }
  .mobile-navigation nav#navigation {
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3), 0 30px 50px 0 rgba(0, 0, 0, 0.3);
    border: 3px solid black;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.75rem;
  }
  .mobile-navigation nav#navigation .nav-item > a {
    margin: 0.5rem auto;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 680px) {
  header.site-header #site-social-media {
    display: none;
    visibility: hidden;
  }
  .mobile-navigation .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .mobile-navigation .mobile-menu h1 {
    display: block;
    font-size: 4rem;
    visibility: visible;
    margin: 1rem 0;
    flex: 0 90%;
  }
  header.site-header > h1 {
    display: none;
    visibility: hidden;
  }
  .mobile-navigation {
    display: block;
    visibility: visible;
    position: initial;
    width: 100%;
  }
  .mobile-navigation .mobile-menu i {
    flex: 0 10%;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  .mobile-navigation nav#navigation {
    margin-top: 0;
  }
  .content > div {
    margin: 0;
  }
  footer.site-footer .site-info {
    flex-direction: column;
  }
  footer.site-footer .site-info > div {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 400px) {
  .mobile-navigation .mobile-menu h1 {
    font-size: 3rem;
  }

  .mobile-navigation .mobile-menu i {
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }

}

