.login-page {
    max-width: 1000px;
    width: 100%;
    margin: 2rem auto;
}

.login-page .login-header {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.login-page .login-header h1 {
    padding: 0;
}

.login-page .login-header a {
    color: black;
    text-decoration: none;
}

.login-page .login-header h1 > span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
}

.login-page .login-form {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
}

.login-page .login-form div {
    margin: 2rem auto;
}

.login-page .login-form .field {
    text-align: left;
}

.login-page .login-form .field p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.3rem;
}

.login-page .login-form .field input {
    font-size: 1.3rem;
    padding: 0.5rem;
    outline-color: black;
    width: 100%;
}